<%- include('template/cabecera', {tituloPage: 'Pagina de Inicio' } ) %>

<h1 class="text-primary">Pagina dinamica</h1>
<h2 class="text-primary">Ejs <%= titulo %></h2>

<%- include('template/footer' ) %>